<!-- <form nz-form [formGroup]="searchForm" (ngSubmit)="search()">
<input type="text" nz-input formControlName="search" placeholder="Search" />
<button type="submit" nz-button >Search</button>
</form> -->
<nz-table e #filterTable [nzData]="listOfData" nzTableLayout="fixed">
    <thead>
        <tr>
            <th
            *ngFor="let column of listOfColumns"
            [nzSortOrder]="column.sortOrder"
            [nzSortFn]="column.sortFn"
            [nzSortDirections]="column.sortDirections"
            [nzFilterMultiple]="column.filterMultiple"
            [nzFilters]="column.listOfFilter"
            [nzFilterFn]="column.filterFn"
          >
            {{ column.name }}
          </th>
          <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        
        <tr *ngFor = "let row of filterTable.data">
            <td>{{row.id}}</td>
            <td>{{row.email}}</td>
            <td>{{row.password}}</td>
            <td>{{row.accountType}}</td>  
                    
            <td>
                <button nz-button nzType="primary" (click)= "showModal(row)">Edit</button>
                <button nz-button nzDanger (click)= "deleteUser(row)">Delete</button>
            </td>

        </tr>
        <!-- <nz-pagination [nzPageIndex]="1" [nzPageSize]="10" [nzTotal]="userData.length" (nzPageIndexChange)="onPageIndexChange($event)">
        </nz-pagination>  -->

    </tbody>
    
</nz-table>

<!-- <button nz-button [nzType]="'primary'" (click)="showModal()"><span>Show Modal</span></button> -->
    <nz-modal [(nzVisible)]="isVisible" (nzOnCancel)="handleCancel()" (nzOnOk)="okbutton()">
      <ng-container *nzModalContent>
        <div class="form-div">


          <form nz-form [formGroup]="userForm" (ngSubmit)="handleOk()">
              <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">E-mail</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid E-mail!">
                  <input nz-input formControlName="email" id="email" />
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password" nzRequired>Password</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your password!">
                  <input
                    nz-input
                    type="password"
                    id="password"
                    formControlName="password"
                  />
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label
                  [nzSm]="6"
                  [nzXs]="24"
                  nzFor="accountType"
                  nzRequired
                  nzTooltipTitle="Set Account Access"
                >
                  <span>Account</span>
                </nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your Account Type!">
                  <input nz-input id="accountType" formControlName="accountType" />
                </nz-form-control>
              </nz-form-item>

              <nz-form-item nz-row class="register-area">
                <nz-form-control [nzSpan]="14" [nzOffset]="6">
                  <button nz-button nzType="primary">Update</button>
                </nz-form-control>
              </nz-form-item>
            </form></div>
      </ng-container>
    </nz-modal>