<form nz-form [formGroup]="searchForm" (ngSubmit)="search()">
<input type="text" nz-input formControlName="search" placeholder="Search" />
<button type="submit" nz-button [nzType]="'primary'">Search</button>
</form>
<nz-table>
    <thead>
        <tr>
            <th scope="col">User ID</th>
            <th scope="col">User Email</th>
            <th scope="col">User Password</th>
            <th scope="col">Account Type</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        
        <tr *ngFor = "let row of userPage">
            <td>{{row.id}}</td>
            <td>{{row.email}}</td>
            <td>{{row.password}}</td>
            <td>{{row.accountType}}</td>     
                    
            <td>
                <button nz-button nzType="primary" (click)= "onEdit(row)">Edit</button>
                <button nz-button nzDanger (click)= "deleteUser(row)">Delete</button>
            </td>

        </tr>
        <nz-pagination [nzPageIndex]="1" [nzPageSize]="10" [nzTotal]="userData.length" (nzPageIndexChange)="onPageIndexChange($event)">
        </nz-pagination> 

    </tbody>
    
</nz-table>

