<!-- <form nz-form [formGroup]="searchForm" (ngSubmit)="search()">
<input type="text" nz-input formControlName="search" placeholder="Search" />
<button type="submit" nz-button >Search</button>
</form> -->
<nz-table e #filterTable [nzData]="listOfData" nzTableLayout="fixed">
    <thead>
        <tr>
            <th
            *ngFor="let column of listOfColumns"
            [nzSortOrder]="column.sortOrder"
            [nzSortFn]="column.sortFn"
            [nzSortDirections]="column.sortDirections"
            [nzFilterMultiple]="column.filterMultiple"
            [nzFilters]="column.listOfFilter"
            [nzFilterFn]="column.filterFn"
          >
            {{ column.name }}
          </th>
        </tr>
    </thead>
    <tbody>
        
        <tr *ngFor = "let row of filterTable.data">
            <td>{{row.id}}</td>
            <td>{{row.email}}</td>
            <td>{{row.password}}</td>
            <td>{{row.accountType}}</td>     
                    
            <td>
                <button nz-button nzType="primary" (click)= "onEdit(row)">Edit</button>
                <button nz-button nzDanger (click)= "deleteUser(row)">Delete</button>
            </td>

        </tr>
        <!-- <nz-pagination [nzPageIndex]="1" [nzPageSize]="10" [nzTotal]="userData.length" (nzPageIndexChange)="onPageIndexChange($event)">
        </nz-pagination>  -->

    </tbody>
    
</nz-table>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">User Details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form [formGroup]="userForm" >
                <div class="mb-3">
                  <label for="exampleInputName" class="form-label">User Email</label>
                  <input type="email" formControlName="email" class="form-control" id="exampleInputname" required>
                </div>
                <div class="mb-3">
                  <label for="exampleInputDescription" class="form-label">User Password</label>
                  <input type="text" formControlName="password" class="form-control" id="exampleInputDescription" required>
                </div>
                <div class="mb-3">
                    <label for="exampleInputDueDate" class="form-label">Account Type</label>
                    <input type="text" formControlName="accountType" class="form-control" id="exampleInputDueDate" required>
                  </div>
              </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" *ngIf="showAdd" (click)="postUserDetails()" class="btn btn-primary">Add</button>
          <button type="button" *ngIf="showUpdate" (click)="updateUserDetails()" class="btn btn-primary">Update</button>
        </div>
      </div>
    </div>
  </div>

