<div class="background"  *ngIf="vstat == false; else elseBlock">
    <div nz-row>
        <div nz-col nzSpan="12" nzOffset="7"><h2>President</h2></div>
    </div>
    <div class="space"></div>
      <div nz-row>
        <div nz-col nzSpan="12" nzOffset="7">
                <nz-radio-group [(ngModel)]="President" nzButtonStyle="solid" *ngFor="let row of presidentData">
                    <label nz-radio-button nzValue={{row.posCode}}>{{row.name}}</label>
                </nz-radio-group>
            </div>
    </div>
    <div class="space"></div>
    <div nz-row>
        <div nz-col nzSpan="12" nzOffset="7"><h2>Vice President</h2></div>
    </div>
    <div class="space"></div>
      <div nz-row>
        <div nz-col nzSpan="12" nzOffset="7">
            <nz-radio-group [(ngModel)]="Vpresident" nzButtonStyle="solid" *ngFor="let row of vPresidentData">
                <label nz-radio-button nzValue={{row.posCode}}>{{row.name}}</label>
            </nz-radio-group>
            </div>
    </div>
    <div class="space"></div>
    <div nz-row>
        <div nz-col nzSpan="12" nzOffset="7"><h2>Secretary</h2></div>
    </div>
    <div class="space"></div>
      <div nz-row>
        <div nz-col nzSpan="12" nzOffset="7">
            <nz-radio-group [(ngModel)]="Secretary" nzButtonStyle="solid" *ngFor="let row of secretaryData">
                <label nz-radio-button nzValue={{row.posCode}}>{{row.name}}</label>
            </nz-radio-group>
        </div>
    </div>
    <div class="space1"></div>
    <div nz-row>
        <div nz-col nzSpan="12" nzOffset="10">
            <button nz-button nzType="primary" (click)= "tallyVote()">submit</button>
        </div>
    </div>
</div>
<ng-template #elseBlock>
<nz-result
      nzStatus="success"
      nzTitle="You have Voted Successfully"
      nzSubTitle="Please Wait While We Tally The Scores."
    >
</nz-result>
</ng-template>

