<div class="background"  *ngIf="vstat == false; else elseBlock">
    <div nz-row>
        <div nz-col nzSpan="12" nzOffset="7"><h2>President</h2></div>
    </div>
    <div class="space"></div>
      <div nz-row>
        <div nz-col nzSpan="12" nzOffset="7">
                <nz-radio-group [(ngModel)]="President" nzButtonStyle="solid">
                    <div *ngFor="">

                    <label nz-radio-button nzValue="pA">President A</label>
                    <label nz-radio-button nzValue="pB">President B</label>
                    <label nz-radio-button nzValue="pC">President C</label>
                </div>
                </nz-radio-group>
            </div>
    </div>
    <div class="space"></div>
    <div nz-row>
        <div nz-col nzSpan="12" nzOffset="7"><h2>Vice President</h2></div>
    </div>
    <div class="space"></div>
      <div nz-row>
        <div nz-col nzSpan="12" nzOffset="7">
                <nz-radio-group [(ngModel)]="Vpresident"nzButtonStyle="solid">
                    <label nz-radio-button nzValue="vpA">Vice President A</label>
                    <label nz-radio-button nzValue="vpB">Vice President B</label>
                    <label nz-radio-button nzValue="vpC">Vice President C</label>
                </nz-radio-group>
            </div>
    </div>
    <div class="space"></div>
    <div nz-row>
        <div nz-col nzSpan="12" nzOffset="7"><h2>Secretary</h2></div>
    </div>
    <div class="space"></div>
      <div nz-row>
        <div nz-col nzSpan="12" nzOffset="7">
            <nz-radio-group [(ngModel)]="Secretary"nzButtonStyle="solid">
                <label nz-radio-button nzValue="sA">Secretary A</label>
                <label nz-radio-button nzValue="sB">Secretary B</label>
                <label nz-radio-button nzValue="sC">Secretary C</label>
            </nz-radio-group>
        </div>
    </div>
    <div class="space1"></div>
    <div nz-row>
        <div nz-col nzSpan="12" nzOffset="10">
            <button nz-button nzType="primary" (click)= "tallyVote()">submit</button>
        </div>
    </div>
</div>
<ng-template #elseBlock>
<nz-result
      nzStatus="success"
      nzTitle="You have Voted Successfully"
      nzSubTitle="Please Wait While We Tally The Scores."
    >
</nz-result>
</ng-template>

