<button (click)= "AddCandidate()" >add</button>
<nz-table e #filterTable [nzData]="listOfData" nzTableLayout="fixed">
    <thead>
        <tr>
            <th
            *ngFor="let column of listOfColumns"
            [nzSortOrder]="column.sortOrder"
            [nzSortFn]="column.sortFn"
            [nzSortDirections]="column.sortDirections"
            [nzFilterMultiple]="column.filterMultiple"
            [nzFilters]="column.listOfFilter"
            [nzFilterFn]="column.filterFn"
          >
            {{ column.name }}
          </th>
          <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        
        <tr *ngFor = "let row of filterTable.data">
            <td>{{row.id}}</td>
            <td>{{row.name}}</td>
            <td>{{row.position}}</td>
            <td>{{row.posCode}}</td> 
                    
            <td>
                <button nz-button nzType="primary" (click)= "showModal(row)" >Edit</button>
                <button nz-button nzDanger (click)= "deleteCandidate(row)">Delete</button>
            </td>

        </tr>

    </tbody>
    
</nz-table>

    <nz-modal [(nzVisible)]="isVisible" (nzOnCancel)="handleCancel()" (nzOnOk)="okbutton()">
      <ng-container *nzModalContent>
        <div class="form-div">


          <form nz-form [formGroup]="candidateForm">
              <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name">Candidate Name</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid E-mail!">
                  <input nz-input formControlName="name" id="name" />
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="[password]" nzRequired>Candidate Position</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input Candidate POsition!">
                  <input
                    nz-input
                    type="text"
                    id="position"
                    formControlName="position"
                  />
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label
                  [nzSm]="6"
                  [nzXs]="24"
                  nzFor="posCode"
                  nzRequired
                >
                  <span>Position Code</span>
                </nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input Candidate Position Code!">
                  <input nz-input id="posCode" formControlName="posCode" />
                </nz-form-control>
              </nz-form-item>
              <nz-form-item nz-row class="register-area">
                <nz-form-control [nzSpan]="14" [nzOffset]="6">
                  <button nz-button *ngIf="showUpdate" (click)="handleOk()"  nzType="primary">Update</button>
                  <button nz-button *ngIf="showAdd" (click)="postCandidate()" nzType="primary">Add</button>
                </nz-form-control>
              </nz-form-item>
            </form></div>
      </ng-container>
    </nz-modal>